lombok.anyConstructor.addConstructorProperties=true
config.stopBubbling = true
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonIgnore
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonProperty
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonFormat
lombok.copyableAnnotations += com.fasterxml.jackson.annotation.JsonInclude