$dms-wk-icon-storico-modifiche-gestori: "\e9cc";
$dms-wk-icon-lettura: "\e9cd";
$dms-wk-icon-cinema: "\e9ce";
$dms-wk-icon-storico-modifiche: "\e9cb";
$dms-wk-icon-annulla-cis: "\e9ca";
$dms-wk-icon-cis-sospeso: "\e9b2";
$dms-wk-icon-gestione-cis: "\e917";
$dms-wk-icon-cis: "\e9c6";
$dms-wk-icon-accreditamento-fiere: "\e9c9";
$dms-wk-icon-cessata: "\e9c7";
$dms-wk-icon-modifica-effettuata: "\e9c8";
$dms-wk-icon-attached: "\e9c5";
$dms-wk-icon-user: "\e9c4";
$dms-wk-icon-teatro: "\e9c0";
$dms-wk-icon-religione: "\e9c1";
$dms-wk-icon-profilazione: "\e9c2";
$dms-wk-icon-matrimonio: "\e9c3";
$dms-wk-icon-registro-richieste: "\e9bd";
$dms-wk-icon-noleggio-bici: "\e9be";
$dms-wk-icon-ristorante: "\e9bf";
$dms-wk-icon-nuova-apertura: "\e9b9";
$dms-wk-icon-esonerato: "\e9ba";
$dms-wk-icon-note: "\e9bb";
$dms-wk-icon-upload: "\e9bc";
$dms-wk-icon-cps: "\e9b8";
$dms-wk-icon-arrivo: "\e9b5";
$dms-wk-icon-partenza: "\e9b6";
$dms-wk-icon-bacheca: "\e9b7";
$dms-wk-icon-close: "\e9b4";
$dms-wk-icon-camere-occupate: "\e9b3";
$dms-wk-icon-email-2: "\e9ac";
$dms-wk-icon-accessibilita: "\e9ad";
$dms-wk-icon-servizi-accessibili: "\e9ae";
$dms-wk-icon-famiglia: "\e9af";
$dms-wk-icon-percorsi-accessibili: "\e9b0";
$dms-wk-icon-filter: "\e9b1";
$dms-wk-icon-bandi: "\e9aa";
$dms-wk-icon-puglia-partecipa: "\e9ab";
$dms-wk-icon-show-password: "\e9a9";
$dms-wk-icon-settings: "\e988";
$dms-wk-icon-expand: "\e9a4";
$dms-wk-icon-photo: "\e9a5";
$dms-wk-icon-audio: "\e9a6";
$dms-wk-icon-video: "\e9a7";
$dms-wk-icon-ricevuta-spot: "\e9a8";
$dms-wk-icon-users: "\e9a2";
$dms-wk-icon-monitora-spot: "\e9a3";
$dms-wk-icon-pause: "\e99e";
$dms-wk-icon-play: "\e99f";
$dms-wk-icon-arrow-slider-left: "\e9a0";
$dms-wk-icon-arrow-slider-right: "\e9a1";
$dms-wk-icon-lk: "\e98b";
$dms-wk-icon-yt-light: "\e98c";
$dms-wk-icon-tw-light: "\e98d";
$dms-wk-icon-fb-light: "\e98e";
$dms-wk-icon-lk-light: "\e98f";
$dms-wk-icon-ig-light: "\e990";
$dms-wk-icon-not-favorite: "\e991";
$dms-wk-icon-target: "\e992";
$dms-wk-icon-download: "\e993";
$dms-wk-icon-move: "\e994";
$dms-wk-icon-notification: "\e995";
$dms-wk-icon-compatibilita: "\e996";
$dms-wk-icon-pin: "\e997";
$dms-wk-icon-show-details: "\e998";
$dms-wk-icon-seller: "\e999";
$dms-wk-icon-buyer: "\e99a";
$dms-wk-icon-accetta: "\e99b";
$dms-wk-icon-rifiuta: "\e99c";
$dms-wk-icon-richiesta-completata: "\e99d";
$dms-wk-icon-glossario: "\e98a";
$dms-wk-icon-cerca-servizio: "\e987";
$dms-wk-icon-concorsi: "\e989";
$dms-wk-icon-promuovi-evento: "\e986";
$dms-wk-icon-configura-evento: "\e918";
$dms-wk-icon-suggerisci-evento: "\e920";
$dms-wk-icon-docx: "\e983";
$dms-wk-icon-remove: "\e984";
$dms-wk-icon-apulia-film-commission: "\e985";
$dms-wk-icon-arem: "\e97d";
$dms-wk-icon-teatro-pubb-pugliese: "\e97e";
$dms-wk-icon-puglia-salute: "\e97f";
$dms-wk-icon-contacts: "\e980";
$dms-wk-icon-retweet: "\e981";
$dms-wk-icon-phone: "\e982";
$dms-wk-icon-email: "\e95d";
$dms-wk-icon-pec: "\e963";
$dms-wk-icon-app: "\e964";
$dms-wk-icon-xls: "\e965";
$dms-wk-icon-adisu: "\e966";
$dms-wk-icon-arti: "\e967";
$dms-wk-icon-arif: "\e968";
$dms-wk-icon-aress: "\e969";
$dms-wk-icon-aret: "\e96a";
$dms-wk-icon-arpa: "\e96b";
$dms-wk-icon-asset: "\e96c";
$dms-wk-icon-ager: "\e96d";
$dms-wk-icon-normativa-e-doc: "\e96e";
$dms-wk-icon-oss-contratti: "\e96f";
$dms-wk-icon-programm-di-gov: "\e970";
$dms-wk-icon-atto-di-legge: "\e971";
$dms-wk-icon-registro-lobbing: "\e972";
$dms-wk-icon-like: "\e973";
$dms-wk-icon-cerca-persone: "\e974";
$dms-wk-icon-accesso-agli-atti: "\e975";
$dms-wk-icon-organigramma: "\e976";
$dms-wk-icon-open-data: "\e977";
$dms-wk-icon-time: "\e978";
$dms-wk-icon-website: "\e979";
$dms-wk-icon-share: "\e97a";
$dms-wk-icon-comment: "\e97b";
$dms-wk-icon-pdf: "\e97c";
$dms-wk-icon-register-request: "\e962";
$dms-wk-icon-news: "\e92d";
$dms-wk-icon-burp: "\e947";
$dms-wk-icon-share-fb-path1: "\e948";
$dms-wk-icon-share-fb-path2: "\e949";
$dms-wk-icon-share-tw-path1: "\e94a";
$dms-wk-icon-share-tw-path2: "\e94b";
$dms-wk-icon-share-lk-path1: "\e94c";
$dms-wk-icon-share-lk-path2: "\e94d";
$dms-wk-icon-share-lk-path3: "\e94e";
$dms-wk-icon-share-wapp-path1: "\e94f";
$dms-wk-icon-share-wapp-path2: "\e950";
$dms-wk-icon-share-wapp-path3: "\e951";
$dms-wk-icon-share-telegram-path1: "\e952";
$dms-wk-icon-share-telegram-path2: "\e953";
$dms-wk-icon-share-telegram-path3: "\e954";
$dms-wk-icon-share-telegram-path4: "\e955";
$dms-wk-icon-share-email-path1: "\e956";
$dms-wk-icon-share-email-path2: "\e957";
$dms-wk-icon-share-email-path3: "\e958";
$dms-wk-icon-share-email-path4: "\e959";
$dms-wk-icon-share-email-path5: "\e95a";
$dms-wk-icon-copy-link: "\e95b";
$dms-wk-icon-zip: "\e95c";
$dms-wk-icon-amm-trasparente: "\e95e";
$dms-wk-icon-albo-pretorio: "\e95f";
$dms-wk-icon-guida: "\e960";
$dms-wk-icon-back-to-top: "\e961";
$dms-wk-icon-cal: "\e90f";
$dms-wk-icon-locazione-turistica: "\e93c";
$dms-wk-icon-aggiungi-locazione: "\e93d";
$dms-wk-icon-struttura-ricettiva: "\e93e";
$dms-wk-icon-aggiungi-sr: "\e921";
$dms-wk-icon-spot: "\e93f";
$dms-wk-icon-ps: "\e940";
$dms-wk-icon-offerte: "\e941";
$dms-wk-icon-workshop: "\e942";
$dms-wk-icon-cambio-spot: "\e943";
$dms-wk-icon-monitoraggio-spot: "\e944";
$dms-wk-icon-monitora-cps: "\e945";
$dms-wk-icon-educazionale: "\e946";
$dms-wk-icon-stabilimenti: "\e930";
$dms-wk-icon-comune: "\e931";
$dms-wk-icon-op-turistici: "\e932";
$dms-wk-icon-agenzie-di-viaggio: "\e933";
$dms-wk-icon-infopoint: "\e934";
$dms-wk-icon-museo: "\e935";
$dms-wk-icon-op-culturali: "\e936";
$dms-wk-icon-feedback: "\e937";
$dms-wk-icon-login: "\e938";
$dms-wk-icon-normativa: "\e939";
$dms-wk-icon-info: "\e93a";
$dms-wk-icon-search: "\e93b";
$dms-wk-icon-arrow-right-double: "\e92e";
$dms-wk-icon-arrow-left-double: "\e92f";
$dms-wk-icon-check: "\e92b";
$dms-wk-icon-user1: "\e927";
$dms-wk-icon-logo-regione: "\e928";
$dms-wk-icon-logout: "\e929";
$dms-wk-icon-faq: "\e92a";
$dms-wk-icon-copy: "\e926";
$dms-wk-icon-hamburger: "\e924";
$dms-wk-icon-yt: "\e922";
$dms-wk-icon-tw: "\e923";
$dms-wk-icon-fb: "\e925";
$dms-wk-icon-ig: "\e914";
$dms-wk-icon-edit: "\e900";
$dms-wk-icon-add: "\e901";
$dms-wk-icon-zoom-in: "\e902";
$dms-wk-icon-zoom-out: "\e903";
$dms-wk-icon-delete: "\e904";
$dms-wk-icon-document: "\e905";
$dms-wk-icon-print: "\e906";
$dms-wk-icon-save: "\e907";
$dms-wk-icon-arrow-left: "\e908";
$dms-wk-icon-arrow-right: "\e909";
$dms-wk-icon-arrow-up: "\e90a";
$dms-wk-icon-arrow-down: "\e90b";
$dms-wk-icon-utenti: "\e90c";
$dms-wk-icon-warning: "\e90d";
$dms-wk-icon-success: "\e90e";
$dms-wk-icon-error: "\e92c";
$dms-wk-icon-external-link: "\e910";
$dms-wk-icon-favorite: "\e911";
$dms-wk-icon-servizio: "\e912";
$dms-wk-icon-spid: "\e913";
$dms-wk-icon-agenda: "\e915";
$dms-wk-icon-dati-gestore-immobile: "\e916";
$dms-wk-icon-matching: "\e919";
$dms-wk-icon-form: "\e91a";
$dms-wk-icon-evento: "\e91b";
$dms-wk-icon-manifestazione-di-interesse: "\e91c";
$dms-wk-icon-impresa-professione: "\e91d";
$dms-wk-icon-aggiungi-impresa-professione: "\e91e";
$dms-wk-icon-ente: "\e91f";