<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>Ricevuta richiesta di valutazione</title>
</head>
<body>
<p>Gentile utente,<br>
grazie per aver caricato i dati nel nostro sistema. La richiesta di valutazione per l'evento <strong>{{titolo}}</strong> (ID: <strong>{{id}}</strong>) è stata inviata.<br>
Puoi scaricare la ricevuta in formato PDF.</p>
<br>
<p>Saluti.</p>
<br>
<p>Digital Management System Puglia | Servizi per la gestione e la promozione del turismo e della cultura in Puglia https://www.dms.puglia.it</p>
<br>
<p>Questo messaggio &egrave; stato generato automaticamente da <a href="https://#HIDDEN#/">www.dms.puglia.it</a>.<br />
Vi preghiamo di non rispondere. Grazie.
</p>
</body>
</html>

