<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<title>Evento Rivalidato</title>
</head>
<body>
<p>Gentile utente,<br>
ti informiamo che a seguito di alcune modifiche apportate, l'evento <strong>{{titolo}}</strong> (ID: <strong>{{id}}</strong>) &egrave; stato nuovamente validato con successo.</p>
<br>
<p>Saluti.</p>
<br>
<p>Digital Management System Puglia | Servizi per la gestione e la promozione del turismo e della cultura in Puglia https://www.dms.puglia.it</p>
<br>
<p>Questo messaggio &egrave; stato generato automaticamente da <a href="https://#HIDDEN#/">www.dms.puglia.it</a>.<br/>
Vi preghiamo di non rispondere. Grazie.
</p>
</body>
</html>